.ContestPreview {
  margin: 1em;
  border: 1px solid #ccc;

  .category-name {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee;
  }

  .contest-name {
    padding: 0.5em;
  }
}

.link {
  cursor: pointer;
}
