<script type="text/javascript">
  window.initialData = <%- JSON.stringify(initialData) -%>;
</script>

<%- include('header') -%>
  <div id="root"><%- initialMarkup -%></div>
<%- include('footer') -%>
